# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE and Editor files
.vscode/
.idea/
*.swp
.DS_Store
